<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargos Volumes</title>
</head>
<body>
<div style="display: flex; align-items: center; flex-direction: column; ">
    <h1>Cargon Cargos Volumes Report</h1>
    <table style="margin-top: 20px; border: 1px solid; border-collapse: collapse;">
        <thead>
        <tr>
            <th style="padding: 5px; border: 1px solid; text-align: center;">Total Weight, kg</th>
            <th style="padding: 5px; border: 1px solid; text-align: center;">Total Volume, cm3</th>
        </tr>
        </thead>
        <tbody>
        {{#each statistic}}
        <tr >
            <td style="padding: 5px; border: 1px solid; text-align: center;">{{this.weight}}</td>
            <td style="padding: 5px; border: 1px solid; text-align: center;">{{this.volume}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
