<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport Popularity</title>
</head>
<body>
<div style="display: flex; align-items: center; flex-direction: column; ">
<h1>Cargon Transport Popularity Report</h1>
    <table style="margin-top: 20px; border: 1px solid; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="padding: 5px; border: 1px solid; text-align: center;">Type</th>
                {{#each statistic}}
                <th style="padding: 5px; border: 1px solid; text-align: center;">{{this.type}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr >
                <th style="padding: 5px; border: 1px solid; text-align: center;">Orders count</th>
                {{#each statistic}}
                <td style="padding: 5px; border: 1px solid; text-align: center;">{{this.count}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>